@charset "UTF-8";
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
.mis_colores {
  gray-base: #777;
  gray-darker: #999999;
  gray-dark: #aaaaaa;
  gray: #cccccc;
  gray-light: #eeeeee;
  gray-lighter: white;
  brand-primary: #337ab7;
  brand-sucess: #5CB85C ​;
  brand-info: #5BC0DE ​;
  brand-warning: #F0AD4E;
  brand-danger: #d9534f;
}

#contact {
  background: #999999 url(../img/map-image.png) center no-repeat;
}
#contact .form-control:focus {
  border-color: #337ab7;
  box-shadow: none;
}
#contact .form-group {
  margin-bottom: 25px;
}
#contact .form-group input,
#contact .form-group textarea {
  padding: 20px;
}
#contact .form-group input.form-control {
  height: auto;
}
#contact .form-group textarea.form-control {
  height: 236px;
}
#contact .section-heading {
  color: White;
}
#contact .text-danger {
  color: #d9534f;
}
#contact:-moz-placeholder, #contact::-moz-placeholder {
  color: #BBBBBB;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#service
.service-item
.service-caption p,
#portfolio
.portfolio-item
.portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

#service
.service-item
.service-caption,
#portfolio
.portfolio-item
.portfolio-caption {
  background: White;
  margin: 0 auto;
  max-width: 400px;
  padding: 25px;
  text-align: center;
}

#service
.service-item
.service-link
.service-hover
.service-hover-content i,
#portfolio
.portfolio-item
.portfolio-link
.portfolio-hover
.portfolio-hover-content i {
  margin-top: -12px;
}

#service
.service-item
.service-link
.service-hover
.service-hover-content,
#portfolio
.portfolio-item
.portfolio-link
.portfolio-hover
.portfolio-hover-content {
  color: White;
  font-size: 20px;
  height: 20px;
  margin-top: -12px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

#service
.service-item
.service-link
.service-hover,
#portfolio
.portfolio-item
.portfolio-link
.portfolio-hover {
  -moz-transition: all ease .5s;
  -webkit-transition: all ease .5s;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: all ease .5s;
  width: 100%;
}

#service
.service-item
.service-link
.service-hover:hover,
#portfolio
.portfolio-item
.portfolio-link
.portfolio-hover:hover {
  opacity: 1;
}

#service
.service-item
.service-link,
#portfolio
.portfolio-item
.portfolio-link {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}

#service
.service-item,
#portfolio
.portfolio-item {
  margin: 0 0 15px;
  right: 0;
}

.bg-darkest-gray {
  background: #999999;
}

.btn-primary {
  background: #337ab7;
  border-color: #337ab7;
  color: White;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-primary .badge {
  background: White;
  color: #337ab7;
}

.btn-xl .badge {
  background: White;
  color: #337ab7;
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background: #337ab7;
  border-color: #1d4568;
  color: White;
}

.open .dropdown-toggle.btn-primary {
  background: #337ab7;
  border-color: #1d4568;
  color: White;
}

.btn-xl.active, .btn-xl:active, .btn-xl:focus, .btn-xl:hover {
  background: #337ab7;
  border-color: #1d4568;
  color: White;
}

.open .dropdown-toggle.btn-xl {
  background: #337ab7;
  border-color: #1d4568;
  color: White;
}

.btn-xl {
  background: #337ab7;
  border-color: #337ab7;
  border-radius: 3px;
  color: White;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  text-transform: uppercase;
}

.btn.active {
  outline: none;
}
.btn:active {
  outline: none;
}
.btn:active:focus {
  outline: none;
}
.btn:focus {
  outline: none;
}

.bubble {
  fill: #F0AD4E;
}

.icon {
  fill: White;
}

.img-centered {
  margin: 0 auto;
}

.logo {
  animation: bounceIn .6s;
  cursor: pointer;
  height: 55px;
  transform: rotate(0deg) scale(1) translatez(0);
  transition: all 0.4s cubic-bezier(0.2, 1.8, 0.75, 0.75);
  width: 155px;
}
.logo:hover {
  transform: rotate(10deg) scale(1.1);
}

.navbar-default {
  background: #999999;
  border-color: transparent;
}
.navbar-default .nav li a {
  color: White;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar-default .nav li a:focus, .navbar-default .nav li a:hover {
  color: #337ab7;
  outline: none;
}
.navbar-default .navbar-brand {
  color: #337ab7;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-default .navbar-brand.active, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #337ab7;
}
.navbar-default .navbar-collapse {
  border-color: White;
}
.navbar-default .navbar-nav > .active > a {
  background: #337ab7;
  border-radius: 0;
  color: White;
}
.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: #337ab7;
  color: White;
}
.navbar-default .navbar-toggle {
  background: #337ab7;
  border-color: #337ab7;
}
.navbar-default .navbar-toggle .icon-bar {
  background: White;
}

.btn-primary.disabled {
  background: #337ab7;
  border-color: #337ab7;
}
.btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover {
  background: #337ab7;
  border-color: #337ab7;
}
.btn-primary[disabled] {
  background: #337ab7;
  border-color: #337ab7;
}
.btn-primary[disabled].active, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover {
  background: #337ab7;
  border-color: #337ab7;
}

fieldset[disabled] .btn-primary {
  background: #337ab7;
  border-color: #337ab7;
}
fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
  background: #337ab7;
  border-color: #337ab7;
}

.btn-xl.disabled {
  background: #337ab7;
  border-color: #337ab7;
}
.btn-xl.disabled.active, .btn-xl.disabled:active, .btn-xl.disabled:focus, .btn-xl.disabled:hover {
  background: #337ab7;
  border-color: #337ab7;
}
.btn-xl[disabled] {
  background: #337ab7;
  border-color: #337ab7;
}
.btn-xl[disabled].active, .btn-xl[disabled]:active, .btn-xl[disabled]:focus, .btn-xl[disabled]:hover {
  background: #337ab7;
  border-color: #337ab7;
}

fieldset[disabled] .btn-xl {
  background: #337ab7;
  border-color: #337ab7;
}
fieldset[disabled] .btn-xl.active, fieldset[disabled] .btn-xl:active, fieldset[disabled] .btn-xl:focus, fieldset[disabled] .btn-xl:hover {
  background: #337ab7;
  border-color: #337ab7;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: #337ab7;
}

.social-buttons li a:active, .social-buttons li a:focus, .social-buttons li a:hover {
  background: #337ab7;
}

.scroll-top-wrapper {
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  background: #777;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 20em;
  color: #aaaaaa;
  height: 48px;
  line-height: 48px;
  opacity: 0;
  overflow: hidden;
  padding-top: 2px;
  position: fixed;
  right: 1em;
  text-align: center;
  transition: all .5s ease-in-out;
  visibility: hidden;
  width: 50px;
  z-index: 100000000;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
.scroll-top-wrapper.show {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}
.scroll-top-wrapper:hover {
  background: #999999;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.service-modal .close-modal .lr .rl,
.portfolio-modal .close-modal .lr .rl {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  background: #999999;
  height: 75px;
  transform: rotate(90deg);
  width: 1px;
  z-index: 1052;
}

.service-modal .close-modal .lr,
.portfolio-modal .close-modal .lr {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: #999999;
  height: 75px;
  margin-left: 35px;
  transform: rotate(45deg);
  width: 1px;
  z-index: 1051;
}

.service-modal .close-modal,
.portfolio-modal .close-modal {
  cursor: pointer;
  height: 75px;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 75px;
}

.service-modal .close-modal:hover,
.portfolio-modal .close-modal:hover {
  opacity: .3;
}

.service-modal .modal-backdrop,
.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0;
}

.service-modal .modal-content h2,
.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.service-modal .modal-content p,
.service-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p,
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.service-modal .modal-content p.item-intro,
.portfolio-modal .modal-content p.item-intro {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
}

.service-modal .modal-content ul.list-inline,
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}

.service-modal .modal-content,
.portfolio-modal .modal-content {
  -webkit-box-shadow: none;
  background: border-box;
  background-color: #FFFFFF;
  border: none;
  border-radius: 0;
  box-shadow: none;
  min-height: 100%;
  padding: 100px 0;
  /* text-align: center; */
}

.service-modal .modal-dialog,
.portfolio-modal .modal-dialog {
  height: 100%;
  margin: 0;
  width: auto;
}

.social-buttons li a {
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  background: #999999;
  border-radius: 100%;
  color: White;
  display: block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  outline: none;
  transition: all .3s;
  width: 40px;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}
.team-member h4 {
  margin-bottom: 0;
  margin-top: 25px;
  text-transform: none;
}
.team-member img {
  border: 7px solid White;
  margin: 0 auto;
}
.team-member p {
  margin-top: 0;
}

.text-muted {
  color: #777;
}

.text-primary {
  color: #337ab7;
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline .timeline-heading h4 {
  color: inherit;
  margin-top: 0;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline > li {
  margin-bottom: 50px;
  min-height: 50px;
  position: relative;
}
.timeline > li .timeline-image {
  background: #337ab7;
  border: 7px solid #eeeeee;
  border-radius: 100%;
  color: White;
  height: 80px;
  left: 0;
  margin-left: 0;
  position: absolute;
  text-align: center;
  width: 80px;
  z-index: 100;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
  width: 100%;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li:after {
  clear: both;
  content: " ";
  display: table;
}
.timeline > li:before {
  content: " ";
  display: table;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

.social-buttons {
  margin-bottom: 0;
}

.timeline:before {
  background: #eeeeee;
  bottom: 0;
  content: "";
  left: 40px;
  margin-left: -1.5px;
  position: absolute;
  top: 0;
  width: 2px;
}

.to-flips .content {
  height: 150px;
  overflow: hidden;
  position: relative;
}
.to-flips .content .block {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.to-flips .content .grey {
  color: #999999;
}
.to-flips .flipnav {
  margin: 0 0 0 70px;
}
.to-flips .flipnav .btn-left,
.to-flips .flipnav .btn-right,
.to-flips .flipnav .btn-left-dis {
  background: #777;
  color: White;
  cursor: pointer;
  float: left;
  font-size: 16px;
  height: 20px;
  text-align: center;
  width: 20px;
}

.btn-right-dis {
  background: #777;
  color: White;
  cursor: pointer;
  float: left;
  font-size: 16px;
  height: 20px;
  text-align: center;
  width: 20px;
}

.to-flips .flipnav .btn-left-dis,
.to-flips .flipnav .btn-right-dis {
  background: White;
  color: White;
  cursor: default;
}

a {
  color: #337ab7;
  outline: none;
}
a.active, a:active, a:focus, a:hover {
  color: #337ab7;
  outline: none;
}

aside.clients img {
  margin: 50px auto;
}

body {
  -webkit-tap-highlight-color: #337ab7;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 40px;
  text-transform: none;
}
footer ul.quicklinks {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

header {
  -o-background-size: cover;
  -webkit-background-size: cover;
  color: White;
  text-align: center;
}
header .intro-text {
  padding-bottom: 50px;
  padding-top: 100px;
}
header .intro-text .intro-heading {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
}

p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}

section {
  padding: 10em 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 0;
}
section h3.section-subheading {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
  text-transform: none;
}

@media screen and (min-width: 768px) {
  #service .service-item,
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }

  .navbar-default {
    -moz-transition: padding .3s;
    -webkit-transition: padding .3s;
    border: none;
    padding: 25px 0;
    transition: padding .3s;
  }
  .navbar-default .navbar-brand {
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    font-size: 2em;
    transition: all .3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background: #999999;
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }

  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-image {
    height: 100px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li .timeline-panel {
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
    width: 41%;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
  .timeline:before {
    left: 50%;
  }

  header .intro-text {
    padding-bottom: 200px;
    padding-top: 300px;
  }
  header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
  }

  section {
    padding: 150px 0;
  }
}
@media screen and (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-image {
    height: 150px;
    margin-left: -75px;
    width: 150px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li .timeline-panel, .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-image {
    height: 170px;
    margin-left: -85px;
    width: 170px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
/* ---------- *\
| Experimentos |
\* ---------- */
.stickout {
  transition-property: background-color, color, box-shadow, filter;
  transition-duration: 0.3s, 0.15s, 0.3s, 0.3s, 0.3s;
  transition-timing-function: initial, initial, initial, initial, initial;
  transition-delay: initial, initial, initial, initial, initial;
}
.stickout:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centrado {
  display: flex;
  justify-content: center;
}
