/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 5, ../scss/agency.scss */
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 10, ../scss/agency.scss */
p {
  font-size: 14px;
  line-height: 1.75; }

/* line 15, ../scss/agency.scss */
p.large {
  font-size: 16px; }

/* line 19, ../scss/agency.scss */
a,
a.active,
a:active,
a:focus,
a:hover {
  outline: none;
  color: #286090; }

/* line 28, ../scss/agency.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

/* line 38, ../scss/agency.scss */
header {
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white; }
  /* line 46, ../scss/agency.scss */
  header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px; }
    /* line 49, ../scss/agency.scss */
    header .intro-text .intro-lead-in {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px; }
    /* line 56, ../scss/agency.scss */
    header .intro-text .intro-heading {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px; }

@media (min-width: 768px) {
  /* line 68, ../scss/agency.scss */
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px; }
    /* line 71, ../scss/agency.scss */
    header .intro-text .intro-lead-in {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 25px; }
    /* line 78, ../scss/agency.scss */
    header .intro-text .intro-heading {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 75px;
      line-height: 75px;
      margin-bottom: 50px; } }
/* line 91, ../scss/agency.scss */
section {
  padding: 10em 0; }
  /* line 94, ../scss/agency.scss */
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  /* line 99, ../scss/agency.scss */
  section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px; }

@media (min-width: 768px) {
  /* line 110, ../scss/agency.scss */
  section {
    padding: 150px 0; } }
/* line 117, ../scss/agency.scss */
footer {
  padding: 25px 0;
  text-align: center; }
  /* line 120, ../scss/agency.scss */
  footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none; }
  /* line 125, ../scss/agency.scss */
  footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none; }

/* line 135, ../scss/agency.scss */
::-moz-selection {
  text-shadow: none;
  background: #337ab7; }

/* line 140, ../scss/agency.scss */
::selection {
  text-shadow: none;
  background: #337ab7; }

/* line 145, ../scss/agency.scss */
img::selection {
  background: transparent; }

/* line 149, ../scss/agency.scss */
img::-moz-selection {
  background: transparent; }

/* line 153, ../scss/agency.scss */
body {
  -webkit-tap-highlight-color: #337ab7; }

/* line 162, ../scss/agency.scss */
.navbar-default {
  background-color: #999999;
  border-color: transparent; }
  /* line 165, ../scss/agency.scss */
  .navbar-default .navbar-brand {
    color: #337ab7;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive; }
    /* line 168, ../scss/agency.scss */
    .navbar-default .navbar-brand.active, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
      color: #286090; }
  /* line 175, ../scss/agency.scss */
  .navbar-default .navbar-collapse {
    border-color: fade(white, 2%); }
  /* line 178, ../scss/agency.scss */
  .navbar-default .navbar-toggle {
    background-color: #337ab7;
    border-color: #337ab7; }
    /* line 181, ../scss/agency.scss */
    .navbar-default .navbar-toggle .icon-bar {
      background-color: white; }
    /* line 184, ../scss/agency.scss */
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: #337ab7; }
  /* line 191, ../scss/agency.scss */
  .navbar-default .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white; }
    /* line 196, ../scss/agency.scss */
    .navbar-default .nav li a:focus, .navbar-default .nav li a:hover {
      color: #337ab7;
      outline: none; }
  /* line 204, ../scss/agency.scss */
  .navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #337ab7; }
  /* line 209, ../scss/agency.scss */
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    color: white;
    background-color: #286090; }

@media (min-width: 768px) {
  /* line 217, ../scss/agency.scss */
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none; }
    /* line 224, ../scss/agency.scss */
    .navbar-default .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    /* line 230, ../scss/agency.scss */
    .navbar-default .navbar-nav > .active > a {
      border-radius: 3px; }

  /* line 234, ../scss/agency.scss */
  .navbar-default.navbar-shrink {
    background-color: #999999;
    padding: 10px 0; }
    /* line 237, ../scss/agency.scss */
    .navbar-default.navbar-shrink .navbar-brand {
      font-size: 1.5em; } }
/* line 245, ../scss/agency.scss */
.service-heading {
  margin: 15px 0;
  text-transform: none; }

/* line 252, ../scss/agency.scss */
.timeline {
  list-style: none;
  padding: 0;
  position: relative; }
  /* line 256, ../scss/agency.scss */
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px; }
  /* line 266, ../scss/agency.scss */
  .timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px; }
    /* line 270, ../scss/agency.scss */
    .timeline > li:after, .timeline > li:before {
      content: " ";
      display: table; }
    /* line 275, ../scss/agency.scss */
    .timeline > li:after {
      clear: both; }
    /* line 278, ../scss/agency.scss */
    .timeline > li .timeline-panel {
      width: 100%;
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left; }
      /* line 284, ../scss/agency.scss */
      .timeline > li .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      /* line 290, ../scss/agency.scss */
      .timeline > li .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    /* line 297, ../scss/agency.scss */
    .timeline > li .timeline-image {
      left: 0;
      margin-left: 0;
      width: 80px;
      height: 80px;
      position: absolute;
      z-index: 100;
      background-color: #337ab7;
      color: white;
      border-radius: 100%;
      border: 7px solid #f1f1f1;
      text-align: center; }
      /* line 309, ../scss/agency.scss */
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        margin-top: 12px;
        line-height: 14px; }
    /* line 315, ../scss/agency.scss */
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 20px 0 100px; }
      /* line 319, ../scss/agency.scss */
      .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      /* line 325, ../scss/agency.scss */
      .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    /* line 332, ../scss/agency.scss */
    .timeline > li:last-child {
      margin-bottom: 0; }
  /* line 337, ../scss/agency.scss */
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; }
    /* line 340, ../scss/agency.scss */
    .timeline .timeline-heading h4.subheading {
      text-transform: none; }
  /* line 346, ../scss/agency.scss */
  .timeline .timeline-body > p,
  .timeline .timeline-body > ul {
    margin-bottom: 0; }

@media (min-width: 768px) {
  /* line 355, ../scss/agency.scss */
  .timeline:before {
    left: 50%; }
  /* line 358, ../scss/agency.scss */
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px; }
    /* line 361, ../scss/agency.scss */
    .timeline > li .timeline-panel {
      width: 41%;
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right; }
    /* line 367, ../scss/agency.scss */
    .timeline > li .timeline-image {
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px; }
      /* line 372, ../scss/agency.scss */
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px; }
    /* line 378, ../scss/agency.scss */
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 30px 20px 20px; } }
@media (min-width: 992px) {
  /* line 389, ../scss/agency.scss */
  .timeline > li {
    min-height: 150px; }
    /* line 391, ../scss/agency.scss */
    .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    /* line 394, ../scss/agency.scss */
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      /* line 398, ../scss/agency.scss */
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px; }
    /* line 404, ../scss/agency.scss */
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }
@media (min-width: 1200px) {
  /* line 413, ../scss/agency.scss */
  .timeline > li {
    min-height: 170px; }
    /* line 415, ../scss/agency.scss */
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    /* line 418, ../scss/agency.scss */
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
      /* line 422, ../scss/agency.scss */
      .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    /* line 426, ../scss/agency.scss */
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px; } }
/* line 435, ../scss/agency.scss */
.team-member {
  text-align: center;
  margin-bottom: 50px; }
  /* line 438, ../scss/agency.scss */
  .team-member img {
    margin: 0 auto;
    border: 7px solid white; }
  /* line 442, ../scss/agency.scss */
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  /* line 447, ../scss/agency.scss */
  .team-member p {
    margin-top: 0; }

/* line 454, ../scss/agency.scss */
aside.clients img {
  margin: 50px auto; }

/* line 461, ../scss/agency.scss */
.social-buttons {
  margin-bottom: 0; }
  /* line 464, ../scss/agency.scss */
  .social-buttons li a {
    display: block;
    background-color: #999999;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    /* line 477, ../scss/agency.scss */
    .social-buttons li a:active, .social-buttons li a:focus, .social-buttons li a:hover {
      background-color: #337ab7; }

/* line 486, ../scss/agency.scss */
.btn.active,
.btn:active,
.btn:active:focus,
.btn:focus {
  outline: none; }

/* line 496, ../scss/agency.scss */
.service-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto; }
/* line 501, ../scss/agency.scss */
.service-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center; }
  /* line 510, ../scss/agency.scss */
  .service-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em; }
  /* line 514, ../scss/agency.scss */
  .service-modal .modal-content p {
    margin-bottom: 30px; }
  /* line 517, ../scss/agency.scss */
  .service-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px; }
  /* line 523, ../scss/agency.scss */
  .service-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0; }
  /* line 527, ../scss/agency.scss */
  .service-modal .modal-content img {
    margin-bottom: 30px; }
/* line 531, ../scss/agency.scss */
.service-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer; }
  /* line 539, ../scss/agency.scss */
  .service-modal .close-modal:hover {
    opacity: 0.3; }
  /* line 542, ../scss/agency.scss */
  .service-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #999999;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051; }
    /* line 553, ../scss/agency.scss */
    .service-modal .close-modal .lr .rl {
      height: 75px;
      width: 1px;
      background-color: #999999;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Safari and Chrome */
      z-index: 1052; }
/* line 566, ../scss/agency.scss */
.service-modal .modal-backdrop {
  opacity: 0;
  display: none; }

/* line 573, ../scss/agency.scss */
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto; }
/* line 578, ../scss/agency.scss */
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center; }
  /* line 587, ../scss/agency.scss */
  .portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em; }
  /* line 591, ../scss/agency.scss */
  .portfolio-modal .modal-content p {
    margin-bottom: 30px; }
  /* line 594, ../scss/agency.scss */
  .portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px; }
  /* line 600, ../scss/agency.scss */
  .portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0; }
  /* line 604, ../scss/agency.scss */
  .portfolio-modal .modal-content img {
    margin-bottom: 30px; }
/* line 608, ../scss/agency.scss */
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer; }
  /* line 616, ../scss/agency.scss */
  .portfolio-modal .close-modal:hover {
    opacity: 0.3; }
  /* line 619, ../scss/agency.scss */
  .portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #999999;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051; }
    /* line 630, ../scss/agency.scss */
    .portfolio-modal .close-modal .lr .rl {
      height: 75px;
      width: 1px;
      background-color: #999999;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Safari and Chrome */
      z-index: 1052; }
/* line 643, ../scss/agency.scss */
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none; }

/* line 649, ../scss/agency.scss */
.text-muted {
  color: #777; }

/* line 653, ../scss/agency.scss */
.text-primary {
  color: #337ab7; }

/* line 657, ../scss/agency.scss */
.img-centered {
  margin: 0 auto; }

/* line 661, ../scss/agency.scss */
.bg-light-gray {
  background-color: #f7f7f7; }

/* line 665, ../scss/agency.scss */
.bg-darkest-gray {
  background-color: #999999; }

/* line 671, ../scss/agency.scss */
.btn-primary {
  color: white;
  background-color: #337ab7;
  border-color: #337ab7;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }
  /* line 8, ../scss/_mixins.scss */
  .btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
  .open .dropdown-toggle.btn-primary {
    color: white;
    background-color: #286090;
    border-color: #265a88; }

  /* line 18, ../scss/_mixins.scss */
  .btn-primary.active, .btn-primary:active,
  .open .dropdown-toggle.btn-primary {
    background-image: none; }

  /* line 27, ../scss/_mixins.scss */
  .btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary,
  fieldset[disabled] .btn-primary.active,
  fieldset[disabled] .btn-primary:active,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    background-color: #337ab7;
    border-color: #337ab7; }
  /* line 38, ../scss/_mixins.scss */
  .btn-primary .badge {
    color: #337ab7;
    background-color: white; }

/* line 677, ../scss/agency.scss */
.btn-xl {
  color: white;
  background-color: #337ab7;
  border-color: #337ab7;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px; }
  /* line 8, ../scss/_mixins.scss */
  .btn-xl.active, .btn-xl:active, .btn-xl:focus, .btn-xl:hover,
  .open .dropdown-toggle.btn-xl {
    color: white;
    background-color: #286090;
    border-color: #265a88; }

  /* line 18, ../scss/_mixins.scss */
  .btn-xl.active, .btn-xl:active,
  .open .dropdown-toggle.btn-xl {
    background-image: none; }

  /* line 27, ../scss/_mixins.scss */
  .btn-xl.disabled, .btn-xl.disabled.active, .btn-xl.disabled:active, .btn-xl.disabled:focus, .btn-xl.disabled:hover, .btn-xl[disabled], .btn-xl[disabled].active, .btn-xl[disabled]:active, .btn-xl[disabled]:focus, .btn-xl[disabled]:hover,
  fieldset[disabled] .btn-xl,
  fieldset[disabled] .btn-xl.active,
  fieldset[disabled] .btn-xl:active,
  fieldset[disabled] .btn-xl:focus,
  fieldset[disabled] .btn-xl:hover {
    background-color: #337ab7;
    border-color: #337ab7; }
  /* line 38, ../scss/_mixins.scss */
  .btn-xl .badge {
    color: #337ab7;
    background-color: white; }

/* line 691, ../scss/agency.scss */
#service .service-item {
  margin: 0 0 15px;
  right: 0; }
  /* line 694, ../scss/agency.scss */
  #service .service-item .service-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto; }
    /* line 699, ../scss/agency.scss */
    #service .service-item .service-link .service-hover {
      background: fade(#337ab7, 90%);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s; }
      /* line 708, ../scss/agency.scss */
      #service .service-item .service-link .service-hover:hover {
        opacity: 1; }
      /* line 711, ../scss/agency.scss */
      #service .service-item .service-link .service-hover .service-hover-content {
        position: absolute;
        width: 100%;
        height: 20px;
        font-size: 20px;
        text-align: center;
        top: 50%;
        margin-top: -12px;
        color: white; }
        /* line 720, ../scss/agency.scss */
        #service .service-item .service-link .service-hover .service-hover-content i {
          margin-top: -12px; }
        /* line 723, ../scss/agency.scss */
        #service .service-item .service-link .service-hover .service-hover-content h3,
        #service .service-item .service-link .service-hover .service-hover-content h4 {
          margin: 0; }
  /* line 730, ../scss/agency.scss */
  #service .service-item .service-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 25px; }
    /* line 736, ../scss/agency.scss */
    #service .service-item .service-caption h4 {
      text-transform: none;
      margin: 0; }
    /* line 740, ../scss/agency.scss */
    #service .service-item .service-caption p {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 16px;
      margin: 0; }
/* line 748, ../scss/agency.scss */
#service * {
  z-index: 2; }

@media (min-width: 767px) {
  /* line 755, ../scss/agency.scss */
  #service .service-item {
    margin: 0 0 30px; } }
/* line 764, ../scss/agency.scss */
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0; }
  /* line 767, ../scss/agency.scss */
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto; }
    /* line 772, ../scss/agency.scss */
    #portfolio .portfolio-item .portfolio-link .portfolio-hover {
      background: fade(#337ab7, 90%);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s; }
      /* line 781, ../scss/agency.scss */
      #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
        opacity: 1; }
      /* line 784, ../scss/agency.scss */
      #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        position: absolute;
        width: 100%;
        height: 20px;
        font-size: 20px;
        text-align: center;
        top: 50%;
        margin-top: -12px;
        color: white; }
        /* line 793, ../scss/agency.scss */
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
          margin-top: -12px; }
        /* line 796, ../scss/agency.scss */
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
          margin: 0; }
  /* line 803, ../scss/agency.scss */
  #portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 25px; }
    /* line 809, ../scss/agency.scss */
    #portfolio .portfolio-item .portfolio-caption h4 {
      text-transform: none;
      margin: 0; }
    /* line 813, ../scss/agency.scss */
    #portfolio .portfolio-item .portfolio-caption p {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 16px;
      margin: 0; }
/* line 821, ../scss/agency.scss */
#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  /* line 828, ../scss/agency.scss */
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }
/* line 836, ../scss/agency.scss */
#contact {
  background-color: #999999;
  background-image: url("../img/map-image.png");
  background-position: center;
  background-repeat: no-repeat; }
  /* line 841, ../scss/agency.scss */
  #contact .section-heading {
    color: white; }
  /* line 844, ../scss/agency.scss */
  #contact .form-group {
    margin-bottom: 25px; }
    /* line 846, ../scss/agency.scss */
    #contact .form-group input,
    #contact .form-group textarea {
      padding: 20px; }
    /* line 850, ../scss/agency.scss */
    #contact .form-group input.form-control {
      height: auto; }
    /* line 853, ../scss/agency.scss */
    #contact .form-group textarea.form-control {
      height: 236px; }
  /* line 857, ../scss/agency.scss */
  #contact .form-control:focus {
    border-color: #337ab7;
    box-shadow: none; }
  /* line 861, ../scss/agency.scss */
  #contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbbbbb; }
  /* line 866, ../scss/agency.scss */
  #contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbbbbb; }
  /* line 872, ../scss/agency.scss */
  #contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbbbbb; }
  /* line 878, ../scss/agency.scss */
  #contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbbbbb; }
  /* line 883, ../scss/agency.scss */
  #contact .text-danger {
    color: #d9534f; }
