.to-flips {
  .content {
    height: 150px;
    overflow: hidden;
    position: relative;

    .grey {
      color: #999;
    }

    .block {
      display: block;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .flipnav {
    margin: 0 0 0 70px;

    .btn-left, .btn-right, .btn-left-dis {
      background: #ccc;
      color: #fff;
      cursor: pointer;
      float: left;
      font-size: 16px;
      height: 20px;
      text-align: center;
      width: 20px;
    }
  }
}

.btn-right-dis {
  background: #ccc;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 16px;
  height: 20px;
  text-align: center;
  width: 20px;
}

.to-flips .flipnav {
  .btn-left-dis, .btn-right-dis {
    background: #fff;
    color: #fff;
    cursor: default;
  }
}
