.glyphicon
{
	/* margin-right:4px !important;*/ /*override*/
	margin-right:4px;
}

.pagination .glyphicon
{
	/* margin-right:0 !important;*/ /*override*/
	margin-right:0;
}

.pagination a
{
	color:#555;
}

.panel ul
{
	list-style:none;
	margin:0;
	padding:0;
}

.news-item
{
	border-bottom:1px dotted #555;
	margin:0;
	padding:4px 4px;
}
