/* Inicio del Logotipo */

.logo {
  width: 155px;
  height: 55px;
  animation: bounceIn 0.6s;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(0.2, 1.8, 0.75, 0.75);
  cursor: pointer;

  &:hover {
    transform: rotate(10deg) scale(1.1);
  }
}

.bubble {
  fill: Orange;

  /* fill: #e76853; */
}

.icon {
  fill: #fff;
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    opacity: 1;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Fin del logotipo */
