// Variables

$brand-primary: darken(#428bca, 6.5%); // #fed136;
$brand-danger: #d9534f; //#e74c3c;

$gray-base: #777;
$gray-darker: lighten($gray-base, 13.5%); //#222;
$gray-lighter: #f7f7f7;

$placeholder-text: #bbbbbb;
