// Variables

// Colores
// Para definir la paleta de colores y verla trabajar en vivo, ver:
// https://pikock.github.io/bootstrap-magic/app/index.html
$gray-base: #777;
$gray-darker: lighten($gray-base, 13.5%); // 
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);

$brand-primary: darken(#428BCA, 6.5%); // #fed136;
$brand-sucess: #5CB85C​;
$brand-info: #5BC0DE​;
$brand-warning: #F0AD4E;
$brand-danger: #d9534f; //#e74c3c;

$placeholder-text: #BBBBBB;

// Modal
$modal-content-bg: #FFFFFF;
